* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registration-page {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo3.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}