* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registration-page {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo3.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.registration-page h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.content{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #24303c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.registration-page p {
    height: 40px;
    text-align: center;
    font-size: 18px
}
